set completion-ignore-case on
set bell-style none
set colored-stats on
set show-all-if-ambiguous on

Tab: menu-complete
# backtab
"\C-[[Z":menu-complete-backward

"\C-A":possible-completions
# M-a
"\ea":complete

