set completion-ignore-case on
set bell-style none
set colored-stats on
set match-hidden-files off



################
# completion
################
# zsh-like(?) completion
Tab: menu-complete
# backtab
"\C-[[Z": menu-complete-backward
# shows all if there's more than one
set show-all-if-ambiguous on
#"\C-A": possible-completions

# COOOOOOOL
set menu-complete-display-prefix on


set print-completions-horizontally on

# M-a shows default-style completions
"\ea": complete



"\e\e[A":history-search-backward
"\e\e[B":history-search-forward
